@import '../../../mixin'

.color-palette
  flex-wrap wrap
  $display-flex()
  
  &__grey
    $display-flex()    

  &__color-block
    cursor pointer
    border 1px solid transparent
    width 16px
    height 16px
    margin 1px
    
    &--active
      border-color #666
    