@import '../../../mixin'

.color-palette
  
  &__wrap
    width 300px
    flex-wrap wrap
    $display-flex()
  
  &__grey
    flex-basis 100%
    $display-flex()    

  &__color-block
    cursor pointer
    border 1px solid transparent
    width 16px
    height 16px
    margin 1px
    
    &--active
      border-color #666
    