@import '../../mixin'

.previewer
  width 144px
  height 144px
  background #847562
  $display-flex(column)
  
  &__row
    $display-flex()

  &__block
    border 1px solid grey
    $display-flex()
    background-image url('./trans-pattern-s.jpg')
    
    &--active
      border 1px solid #e5aa9c
      