@import '../../mixin'

.previewer
  width 320px
  height 100vh
  border 1px solid #996
  $display-flex(column)
  
  &__row
    $display-flex()

  &__block
    border 1px solid grey
    $display-flex()
    background-image url('./trans-pattern-s.jpg')