@import '../../mixin'

.qr-generator
  width 100vw
  height 80%
  max-width 768px
  position relative
  background white  
  $display-flex(column)

  &__block
    border 1px solid grey
    $display-flex()
    background-image url('./trans-pattern-s.jpg')  
