@import '../../mixin'

.qr-generator
  width 100vw
  height 100vh
  position relative
  background white
  $display-flex(column)

  &__block
    border 1px solid grey
    $display-flex()
    background-image url('./trans-pattern-s.jpg')  
