@import '../../mixin'

.image-converter
  width 100vw
  height 80%
  max-width 768px
  position relative
  background white  

  &__preview
    width 100%
    height calc(100% - 48px)
    $display-flex()

  &__input-img
    max-width 100%
    
  &__tool
    $display-flex()
  
  &__select-wrap
    $display-flex()
    width 64px

  &__select-input
    display none
  
  &__crop-count
    $display-flex()
    background #f2f0d9
    border-radius 4px
    padding 4px 8px
