@import '../../../mixin'

.palette
  flex-wrap wrap
  $display-flex()
  
  &__color-wrap
    flex-basis calc( 100% - 48px )
    flex-wrap wrap
    $display-flex()

  &__color-block
    cursor pointer
    border 1px solid transparent
    width 15px
    height 32px
    
    &--active
      border-color #666
    