@import '../../mixin'

.painter
  flex-wrap wrap
  $display-flex()
  
  &__stretcher-wrap
    $display-flex()
  
  &__stretcher
    position relative
    border 1px solid grey
    overflow hidden
    background-image url('./trans-pattern-s.jpg')
        
  &__indicator
    position absolute
    width 16px 
    height 16px
    background url('./trans-pattern-s.jpg')
    border 1px solid #666
    transform translate(-1px, -1px)
  
  &__tool
    flex-wrap wrap
    flex-basis 48px
    $display-flex()
  
  &__sub-tool
    padding 4px 48px
    height 48px
    position relative
    flex-basis 100%    
    $display-flex()
  
  &__mirror-selector
    position absolute
    top 8px
    right 8px
  
  &__palette-wrap
    flex-basis 100%
