@import './variables'

$display-flex(direction=row, justify=center, align=center)
  display flex
  flex-direction direction
  justify-content justify
  align-items align
  
$max-section()
  max-width 1200px
  margin 0 auto

/* width */
::-webkit-scrollbar
  width 4px
  height 4px

/* Track */
::-webkit-scrollbar-track
  background white

/* Handle */
::-webkit-scrollbar-thumb
  background $dark_grey

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background $dark_transparent
