$orange = #ee8b34
$white_transparent = rgba(255, 255, 255, 0.25)
$white_transparent_1 = rgba(255, 255, 255, 0.1)
$dark = #121323
$dark_transparent = rgba(18, 19, 35, 0.3)
$dark_grey = #d8d8d8
$gery = #ddd
$light_grey = #f1f1f1

$font_hero = 68px
$font_title = 32px
$font_title_s = 22px
$font_sub_title = 18px

$font_button = 22px
$font_button_s = 18px

$font_paragraph = 16px

$font_weight_bold = 700
$font_weight_regular = 500
$font_weight_light = 300

